/*
* profession select
*/

.Select-control{
  height: 44px;
  line-height: 41px;
}

.has-error .Select-control{
	border-color: #a94442;
}

.is-open > .Select-control {
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}

.is-focused .Select-control{
	border-color: #0880FD;
}

.Select-input{
  height: 41px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value{
  line-height: 44px;
}

.Select-menu-outer{
	margin-top: 0;
	z-index: 3;
}


.dropdown-menu>li>a{
	color: #666;
	font-size: 14px;
}

.Select-option.is-focused, .Select-option.is-focused .Select-option{
	background-color: #ebf5ff;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background-color: #ebf5ff;	
	color: #666;
}