.bs-example{
  position: relative;
  padding: 14px 15px 15px;
  margin: 10px -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);

  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  width: 402px;
}

/*
* heading block
*/

.rf-heading{
  font-size: 18px;
  text-align: center;
  
  line-height: 1.2;
}

.rf-heading__mb{
  margin-bottom: 41px;
}

/*
  name, last name block

*/

.fr-gen-info__wr{
  margin-bottom: 7px;
}

.rf-label{
  color: #B2B2B2;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-left: -15px;
  font-weight: 200;
  width: 100%;
}

.rf-name-field-input{
  height: 44px;
  padding: 6px 14px;
}

.rf-name-field__wr{
  padding-right: 5px;
}

.rf-lname-field__wr{
  padding-left: 5px;
}

.bold{
  font-weight: bold;
}

.maketimg{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 3001;
}
/*
Profession
*/

.rf-prof__rw{
  margin-bottom: 6px;
}
/*
Phone
*/
.rf-phone__wr{
  margin-bottom: 28px;
}

.rf-phone-selected-flag, .rf-phone-selected-flag:focus{
  height: 44px;
  background-color: #F9F9F9;
  width: 75px;
  border-color: #ccc;
  padding-right: 0;
}

.rf-flag-img{
  max-width: 24px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.rf-phone-input{
  font-size: 18px;
  height: 44px;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}


/*
* submit button
*/
.fr-submit__inner{
  text-align: center;
}

.fr-submit{
  height: 44px;
  background-color: #0880FD;
  border-color: #0880FD;
  width: 193px;
  font-size: 16px;
  // padding-top: 10px;
}

/* error */
.rf-error-tip{
  font-size: 10px;
  position: absolute;
  color: red;
}